<h2 class="text-center my-4 catalogue" data-studentid="{{studentId}}">Course Catalogue</h2>
{{> catalogue/modal-block}}
<div class="cat-bg">
  <img class="d-block w-100 shadow header-img" src="/assets/images/catalog.jpg">
</div>

<div class="container cat-container">
  <div class="search-bar mx-auto col-sm col-md col-lg col-xl">
    <h2 class="text-center pt-5">Course Catalogue</h2>
    <div class="input-group mb-2 d-block pb-.5 ">
      <input class="form-control mx-auto" type="text" id="filter" placeholder="Search Classes">
    </div>
  </div>
</div>

{{> catalogue/cart-block}}
<div id="classes" class="container">
  <ul class="classes list-group mx-auto pre-scrollable mb-5">
    {{#if isAuthenticated}}
    {{#each classes}}
    {{> catalogue/class-block}}
    {{/each}}
    {{else}}
    {{#each classes}}
    {{> catalogue/class-block-loggedout}}
    {{/each}}
    {{/if}}
  </ul>
</div>